@font-type-1: 'Noto Sans','Ubuntu','Noto Sans TC', sans-serif;
@font-type-2: Helvetica, 'Noto Sans TC' , Arial , sans-serif;
@font-type-3: 'Noto Sans TC' , Arial , sans-serif;
@font-topic-title: 'Noto Sans TC' , 'Noto Sans' , sans-erif;
@theme-color:  #c29d7f;


*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

header{
	position: relative;
	max-width:1024px;
	min-width:380px;
	padding-top:160px;
	margin:0 auto 120px auto;

	#language{
		position: absolute;
		top:0;
		right:0;
		width:120px;
		border:none;
		padding:6px 10px;
		font-size:18px;
		letter-spacing: 1px;
		background-color:#eee;
		option{
			font-size:17px;
		}
		&:focus{
			outline:#ddd solid 1px;
		}
		&:hover{
			cursor:pointer;
		}
	}
	.logo-anchor{
		float:left;
		width:160px;
		height:160px;
		svg{

		}
	}
	.slogan{
		display: inline-block;
		color:#c29d7f;
		padding-left:50px;
		line-height: 160px;
		font-size:30px;
		letter-spacing: 2px;
		font-family: @font-type-1;
		.slogan-element{
			font-style: normal;
		}
	}
}

#main-content{
	max-width:1024px;
	min-width:380px;
	margin:0 auto;
	#introduction{
		font-family: @font-type-2;
		letter-spacing: 2px;
		font-size:18px;
		font-weight: 400;
		line-height: 30px;
		color:#2c2c2c;
		.introduction-first-letter{
			font-size:36px;
			padding:0;
			padding-right:2px;
			display:inline;
		}
	}
	.sub-title{
		display:block;
		font-family: @font-type-2;
		margin:150px  0 20px 0;
		font-size:28px;
		line-height: 34px;
		letter-spacing: 1px;
		border-bottom:#ddd solid 1px;
		font-weight: 500;
	}
	.topic-title{
		display: block;
		margin:80px 0 20px 0;
		padding-left:20px;
		font-family:@font-topic-title;
		font-weight: 600;
		font-size: 22px;
		color:#555;
		letter-spacing: 2px;
	}
	span#ps{
		display:block;
		text-align:right;
		font-style:normal;
		font-weight: 100;
		font-size:20px;
		color:#c29d7f;
	}
	ul.info{
		width:100%;
		list-style-type: none;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:flex-start;
		padding-left:40px;
		.items{
			width:26%;
			padding:16px 0;
			margin-right:60px;
			font-family: @font-type-1;
			font-size: 18px;
			border-bottom: #ddd solid 1px;
			color:#c29d7f;
		}
	}

	@portfolioFont: 'Noto Sans TC','Roboto', sans-serif;
	.portfolio-box{
		font-family:@portfolioFont;
		width:80%;
		height:200px;
		margin:60px auto;
		&:hover{
			.portfolio-anchor{
				.portfolio-rough-intro{
					.portfolio-detail-intro{
						display:block;
					}
				}
			}
		}

		.portfolio-anchor{
			text-decoration:none;
			
			width:100%;
			height:100%;
			display:flex;
			flex-direction:row;
			flex-flow:flex-start;
			align-items:stretch;

			.portfolio-img{
				width:30%;
			}
			.portfolio-rough-intro{
				width:70%;
				width:650px;
				padding-left:10px;
				position: relative;

				.portfolio-name{
					color:black;
					font-weight:400;
					font-size:24px;
				}
				.portfolio-describe{
					color:black;
					margin-top:8px;
					font-size:14px;
					line-height:1.5;
					letter-spacing:1px;
					color:#777;
				}

				.portfolio-detail-intro{
					color:white;
					background-color:black;
					display:none;
					width:100%;
					height:100%;
					position:absolute;
					top:0;
					left:0;
					padding-left:10px;
					.portfolio-detail-title{
						font-size:20px;
						letter-spacing:2px;
					}
					.portfolio-detail-content{
						font-size:14px;
						padding:5px 0;
						letter-spacing:2px;
					}
				}
			}
			


			#mask-info-tw{
                background-image:url("../image/mask-info-tw.png");
                background-position:top left;
                background-repeat: no-repeat;
                background-size:170%;
			}
			#icon-hub{
                background-image:url("../image/icon-hub.jpg");
                background-position:center;
                background-repeat: no-repeat;
                background-size:100% 100%;
            }
            #share-url{
                background-image:url("../image/shareShortenUrl.jpg");
                background-position:center;
                background-repeat: no-repeat;
                background-size:100% 100%;
            }
            #thsr{
                background-image:url("../image/thsr.jpg");
                background-position:center;
                background-repeat: no-repeat;
                background-size:100% 80%;
            }
            #youtube-too{
                background-image:url("../image/youtube-too-pureJS.jpeg");
                background-position:top;
                background-repeat: no-repeat;
                background-size:115%;
            }
            #flickr-too{
                background-image:url("../image/flickr.jpeg");
                background-position:top;
                background-repeat: no-repeat;
                background-size:110%;
            }
            #sorting{
                background-image:url("../image/sorting-algorithm-visualization-bg.png");
                background-position:center;
                background-repeat: no-repeat;
                background-size:100% 80%;
            }
            #qt-checksum-app{
                background-image:url("../image/checksum-machine.png");
                background-position:top center;
                background-repeat: no-repeat;
                background-size:170%;
            }
            #rasp-pi-router{
                background-image:url("../image/raspberry.png");
                background-position:top;
                background-repeat: no-repeat;
                background-size:200%;
            }
            #leetcode{
                background-image:url("../image/leetcode.jpg");
                background-position:center center;
                background-repeat: no-repeat;
                background-size:230%;
            }



		}
	}
}

footer{
	width:100%;
	background-color: #c29d7f;
	margin-top: 100px;
	.footer-inner-container{
		max-width:1024px;
		min-width:380px;
		padding:70px 0;
		margin:0 auto;
		.footer-ul{
			list-style-type: none;
			.footer-items{
				font-family: @font-type-1;
				font-weight: 400;
				font-size: 16px;
				color:white;
				letter-spacing: 2px;
				text-align: left;
				padding:10px 0;
				.footer-item-github{
					text-decoration:none;
					color:inherit;
				}
			}
		}
	}
}