@font-type-1:'Noto Sans','Ubuntu','Noto Sans TC', sans-serif;
@font-type-2:Helvetica, 'Noto Sans TC' , Arial , sans-serif;



@media screen and (max-width: 800px){

	#main-content{
		.portfolio-box{
			width:100%;
			height:auto;			
			padding:0 10%;
			margin:60px 0;
			&:hover{
				.portfolio-anchor{
					.portfolio-detail-intro{
						display:block;
					}
				}
			}

			.portfolio-anchor{
				flex-wrap:wrap;
				position: relative;
				width:300px;
				height:auto;
				margin:auto;
				display:flex;
				flex-direction:row;
				flex-flow:flex-start; 

				.portfolio-img{
					width:100%;
					height:200px;
				}
				.portfolio-rough-intro{
					width:100%;
					height:160px;
					padding-left:0px;
					padding-top:10px;
					.portfolio-detail-intro{
						padding:0;
						padding:5px 10px ;
						width:100%;
						height:160px;
						position:absolute;
						top:0;
						right:0;

						.portfolio-detail-title{
							font-size:18px;
							letter-spacing:2px;
						}
						.portfolio-detail-content{
							font-size:13px;
							line-height:1.3;
							padding:5px 0 0 0;
							letter-spacing:2px;
						}
					}
				}

				#mask-info-tw{
					background-position:top left;
					background-size:130%;
				}
				#icon-hub{
					background-position:top left;
					background-size:135%;
				}
				#share-url{
					background-position:top left;
					background-size:150%;
				}
				#thsr{
					background-position:top left;
					background-size:150%;
				}
				#youtube-too{
					background-position:top center;
					background-size:100%;
				}
				#flickr-too{
					background-position:top;
					background-size:100%;
				}
				#sorting{
					background-position:top center;
					background-size:100% 100%;
				}
				#qt-checksum-app{
					background-position:top center;
					background-size:130%;
				}
				#rasp-pi-router{
					background-position:top;
					background-size:150%;
				}
				#leetcode{
					background-position:top;
					background-size:175%;
				}
			}
		}
	}

}



@media screen and (max-width: 1023.9px){

	header{
		position: relative;
		padding-top:60px;
		margin:0 auto 30px auto;
		.logo-anchor{
			float:none;
			width:160px;
			height:160px;
			#svg-logo{
				position: absolute;
				top:40px;
				left:~"calc(50% - 80px)";
			}
		}
		#language{
			right:0;
		}
		.slogan{
			text-align: center;
			display: inline-block;
			width:100%;
			text-align: center;
			color:#c29d7f;
			margin-top: 160px;
			padding-left:0px;
			line-height: 50px;
		}
	}

	section#main-content{
		.sub-title,
		.topic-title,
		.info,
		.info .items{
			margin:0;
			padding:0;
		}
		#introduction{
			width:100%;
			padding: 0 10%;
		}
		.sub-title{
			text-align: center;
			margin:60px 0 0 0;
		}
		.topic-title{
			color:#a6764f;
			display:inline-block;
			margin:60px 0 40px 1.3%;

			border-bottom:#a6764f solid 1px;
			font-size:19px;
		}
		.info{
			width:100%;
			padding:0 10%;
			.items{
				font-size:14px;
				width:28%;
				margin:0 2.6% 0 0;
				padding:10px 0;
				text-align:center;
			}
		}
	}


	footer{
		.footer-inner-container{
			padding:70px;
		}
	}
}



